<html>
    <head>
        <title>400 - URL Shortener</title>
        <%- include('./partials/navbar') %>  
    </head>
    <body>
        <h1>400 Bad Request</h1>
        <h2><a href='/'>Return home</a></h2>
    </body>
</html>