<html>
    <head>
        <title>404 - URL Shortener</title>
        <%- include('./partials/navbar') %>  
    </head>
    <body>
        <h1>404 Page Not Found</h1>
        <h2><a href='/'>Return home</a></h2>
    </body>
</html>