<html>
    <head>
        <title>201 - URL Shortener</title>
        <%- include('./partials/navbar') %>  
    </head>
    <body>
        <h1>201 Created</h1>
        <h2>Your shortened url is /u/<%= id %></h2>
    </body>
</html>