<html>
    <head>
        <title>409 - URL Shortener</title>
        <%- include('./partials/navbar') %>  
    </head>
    <body>
        <h1>409 Conflict</h1>
        <h2>This means this URL is already shortened.</h2>
        <h2>The shortened url is /u/<%= id %></h2>
    </body>
</html>